@model List<Raspisanie.Models.ViewModels.PlacementVM>

<form asp-action="SaveSchedules">
    @for (int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" asp-for="@Model[i].Placement.Id" />
        <div>
            <label asp-for="@Model[i].Placement.GroupId"></label>
            <select asp-for="@Model[i].Placement.GroupId" asp-items="@Model[i].GroupSelectList"></select>
        </div>
        <div>
            <label asp-for="@Model[i].Placement.PredmetId"></label>
            <select asp-for="@Model[i].Placement.PredmetId" asp-items="@Model[i].PredmetSelectList"></select>
        </div>
        <div>
            <label asp-for="@Model[i].Placement.AuditoriaId"></label>
            <select asp-for="@Model[i].Placement.AuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
        </div>
        <div>
            <label asp-for="@Model[i].Placement.Date"></label>
            <input asp-for="@Model[i].Placement.Date" />
        </div>
        <div>
            <label asp-for="@Model[i].Placement.index"></label>
            <input asp-for="@Model[i].Placement.index" />
        </div>
        <br />
    }
    <input type="submit" value="Сохранить и отправить" />
</form>