@model List<Raspisanie.Models.ViewModels.PlacementVM>
@{
    int old = 0;
    int temp = 0;

    DateTime dateObj = DateTime.ParseExact(Model.FirstOrDefault()?.Placement.Date, "dd.MM.yyyy", null);

}
<style>
    td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

    .red-border {
        border: 3px solid red;
    }

</style>


<form method="post" asp-controller="Home">
    <p>Расписание на @Model.FirstOrDefault()?.Placement.Date</p>

    <table style="width:100%">
        <tr>
            <td colspan="5">День недели @dateObj.DayOfWeek </td>
        </tr>
        <tr>
            <td width="20%">Номер группы, ауд</td>
            <td colspan="4">Расписание</td>

        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            temp = Model[i].Placement.GroupId;
            if (old != temp)
            {
                <tr>
                    <td rowspan="@Model[i].NumOfPredmets">
                        Группа номер: @Model[i].Placement.Group.Name<br />ауд. @Model[i].Placement.Group.Auditoria.AuditoryName<br /> Куратор @Model[i].Placement.Group.Teacher.TeacherName
                        <button type="submit" asp-route-id="@Model[i].Placement.Id" asp-action="AddPlacement" class="btn btn-success">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>

                    <td>
                        <input type="hidden" asp-for="@Model[i].Placement.Id" />
                        <input type="hidden" asp-for="@Model[i].Placement.GroupId" />
                        <input type="hidden" asp-for="@Model[i].Placement.Date" value="@Model[i].Placement.Date" />
                        <input style="width:30px" asp-for="@Model[i].Placement.index" value="@Model[i].Placement.index" />
                        <select data-id="@Model[i].Placement.Id" class="predmetSelect" asp-for="@Model[i].Placement.PredmetId" asp-items="@Model[i].PredmetSelectList" value="@Model[i].Placement.PredmetId"></select>
                        @if (!Model[i].Placement.Predmet.Laboratory)
                        {
                            <input type="hidden" asp-for="@Model[i].Placement.SecondPredmetId" value="@Model[i].Placement.SecondPredmetId" />
                        }
                        else
                        {
                            <select data-id="@Model[i].Placement.Id" class="predmetSelect" asp-for="@Model[i].Placement.SecondPredmetId" asp-items="@Model[i].SecondPredmetSelectList" value="@Model[i].Placement.SecondPredmetId"></select>
                        }






                    </td>
                    <td>
                        @if (Model[i].TeacherError)
                        {
                            <select class="TEDI red-border" asp-for="@Model[i].Placement.TeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                        }
                        else
                        {
                            <select class="TEDI" asp-for="@Model[i].Placement.TeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                        }
                        @if (Model[i].AudithoryError)
                        {
                            <select class="TEDI red-border" asp-for="@Model[i].Placement.AuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                        }
                        else
                        {
                            <select class="TEDI" asp-for="@Model[i].Placement.AuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                        }
                        
                    </td>
                    <td>
                        @if (!Model[i].Placement.Predmet.Laboratory)
                        {
                            <input type="hidden" asp-for="@Model[i].Placement.SecondTeacherId" value="@Model[i].Placement.SecondTeacherId" />
                            <input type="hidden" asp-for="@Model[i].Placement.SecondAuditoriaId" value="@Model[i].Placement.SecondAuditoriaId" />
                        }
                        else
                        {
                            @if (Model[i].SECTeacherError)
                            {
                                <select class="TEDI red-border" asp-for="@Model[i].Placement.SecondTeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                            }
                            else
                            {
                                <select class="TEDI" asp-for="@Model[i].Placement.SecondTeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                            }
                            if (Model[i].SECAudithoryError)
                            {
                                <select class="TEDI red-border" asp-for="@Model[i].Placement.SecondAuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                            }
                            else
                            {
                                <select class="TEDI" asp-for="@Model[i].Placement.SecondAuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                            }
                           
                        }


                    </td>
                    <td>
                        <button type="submit" asp-route-id="@Model[i].Placement.Id" asp-action="DeletePlacement" class="btn btn-danger ">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>

                old = temp;

            }
            else
            {
                <tr>

                    <td>
                        <input type="hidden" asp-for="@Model[i].Placement.Id" />
                        <input type="hidden" asp-for="@Model[i].Placement.GroupId" />
                        <input type="hidden" asp-for="@Model[i].Placement.Date" value="@Model[i].Placement.Date" />
                        <input style="width:30px" asp-for="@Model[i].Placement.index" value="@Model[i].Placement.index" />
                        <select data-id="@Model[i].Placement.Id" class="predmetSelect" asp-for="@Model[i].Placement.PredmetId" asp-items="@Model[i].PredmetSelectList" value="@Model[i].Placement.PredmetId"></select>
                        @if (!Model[i].Placement.Predmet.Laboratory)
                        {
                            <input type="hidden" asp-for="@Model[i].Placement.SecondPredmetId" value="@Model[i].Placement.SecondPredmetId"></input>
                        }
                        else
                        {
                            <select data-id="@Model[i].Placement.Id"  class="predmetSelect" asp-for="@Model[i].Placement.SecondPredmetId" asp-items="@Model[i].SecondPredmetSelectList" value="@Model[i].Placement.SecondPredmetId"></select>
                        }





                    </td>
                    <td>
                        @if (Model[i].TeacherError)
                        {
                            <select class="TEDI red-border" asp-for="@Model[i].Placement.TeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                        }
                        else
                        {
                            <select class="TEDI" asp-for="@Model[i].Placement.TeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                        }
                        @if (Model[i].AudithoryError)
                        {
                            <select class="TEDI red-border" asp-for="@Model[i].Placement.AuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                        }
                        else
                        {
                            <select class="TEDI" asp-for="@Model[i].Placement.AuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                        }
                    </td>
                    <td>

                        @if (!Model[i].Placement.Predmet.Laboratory)
                        {
                            <input type="hidden" asp-for="@Model[i].Placement.SecondTeacherId" value="@Model[i].Placement.SecondTeacherId" />
                            <input type="hidden" asp-for="@Model[i].Placement.SecondAuditoriaId" value="@Model[i].Placement.SecondAuditoriaId" />
                        }
                        else
                        {
                            @if (Model[i].SECTeacherError)
                            {
                                <select class="TEDI red-border" asp-for="@Model[i].Placement.SecondTeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                            }
                            else
                            {
                                <select class="TEDI" asp-for="@Model[i].Placement.SecondTeacherId" asp-items="@Model[i].TeacherSelectList"></select>
                            }
                            if (Model[i].SECAudithoryError)
                            {
                                <select class="TEDI red-border" asp-for="@Model[i].Placement.SecondAuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                            }
                            else
                            {
                                <select class="TEDI" asp-for="@Model[i].Placement.SecondAuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                            }
                        }

                    </td>
                    <td>
                        <button type="submit" asp-route-id="@Model[i].Placement.Id" asp-action="DeletePlacement" class="btn btn-danger ">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>

            }


        }
    </table>

    <input hidden type="submit" value="CheckError" asp-action="CheckError">
    <input hidden type="submit" value="Refresh" asp-action="Refresh">
    @*<input name="GroupId" type="text" placeholder="Введите номер группы" />
    <input name="Index" type="text" placeholder="Введите номер предмета" />
    <input name="DateToShow" type="hidden" value="@Model.FirstOrDefault()?.Placement.Date" /> <!-- Скрытое поле для даты -->
    <input type="submit" value="Delete" asp-action="DeletePlacement">
    <input name="DateToShow" type="hidden" value="@Model.FirstOrDefault()?.Placement.Date" /> <!-- Скрытое поле для даты -->
    <input type="submit" value="Add" asp-action="AddPlacement">*@



    <input  type="submit" value="SaveAll" asp-action="SaveSchedules">
</form>
<form action="/Home/GenerateAll" method="post">
    <input type="hidden" name="DateToGenerate" value="@dateObj.ToString("o")" />
    <button type="submit" id="generateButton">Сгенерировать</button>
</form>



@section scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var selectElements = document.querySelectorAll('.predmetSelect');

            selectElements.forEach(function (selectElement) {
                selectElement.addEventListener('change', function () {
                    var form = this.form;
                    var placementId = this.getAttribute('data-id'); 
                    console.log(placementId)// Получаем Id размещения из атрибута 'data-id'
                    // Формируем URL на стороне клиента
                    var actionUrl = '/Home/Refresh/' + placementId;
                    form.action = actionUrl;
                    form.submit();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var selectElements = document.querySelectorAll('.TEDI');

            selectElements.forEach(function (selectElement) {
                selectElement.addEventListener('change', function () {
                    var form = this.form;

                    var actionUrl = '/Home/CheckError/';
                    form.action = actionUrl;
                    form.submit();
                });
            });
        });

    function updateTeacher(index) {
        var predmetId = document.getElementById("z" + index + "__Placement_PredmetId").value;
        $.ajax({
            url: "/Home/GetTeacherName",
            type: "GET",
            data: { predmetId: predmetId },
            success: function (result) {
                document.getElementById("teacher-" + index).innerText = result;
            }
        });


        $.ajax({
            url: "/Home/GetSecondTeacherName",
            type: "GET",
            data: { predmetId: predmetId },
            success: function (result) {
                document.getElementById("secondteacher-" + index).innerText = result;
            }
        });


    };

    


</script>
}


