@model List<Raspisanie.Models.ViewModels.PlacementVM>
@{
    int old = 0;
    int temp = 0;

    DateTime dateObj = DateTime.ParseExact(Model.FirstOrDefault()?.Placement.Date, "dd.MM.yyyy", null);

}
<style>
    td {
        border: 1px solid grey;
        border-collapse: collapse;
    }
</style>


<form method="post" asp-controller="Home">
    <p>Расписание на @Model.FirstOrDefault()?.Placement.Date</p>

    <table style="width:100%">
        <tr>
            <td colspan="2">День недели @dateObj.DayOfWeek </td>
        </tr>
        <tr>
            <td width="20%">Номер группы, ауд</td>
            <td>Расписание</td>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            temp = Model[i].Placement.GroupId;
            if (old != temp)
            {
                <tr>
                    <td rowspan="@Model[i].NumOfPredmets">Группа номер: @Model[i].Placement.Group.Name<br />ауд. @Model[i].Placement.Group.Auditoria.AuditoryName
                        <button type="submit" asp-route-id="@Model[i].Placement.Id" asp-action="AddPlacement" class="btn btn-success">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>

                    <td>
                        <input type="hidden" asp-for="@Model[i].Placement.Id" />
                        <input asp-for="@Model[i].Placement.index" value="@Model[i].Placement.index" />
                        <select asp-for="@Model[i].Placement.PredmetId" asp-items="@Model[i].PredmetSelectList" onchange="updateTeacher(@i)" value="@Model[i].Placement.PredmetId"></select>
                        <select asp-for="@Model[i].Placement.AuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                        <input type="hidden" asp-for="@Model[i].Placement.Date" value="@Model[i].Placement.Date" />
                        <select asp-for="@Model[i].Placement.GroupId" asp-items="@Model[i].GroupSelectList"></select>
                        <span id="teacher-@i">@Model[i].Placement.Predmet.Teacher.TeacherName</span>
                        <button type="submit" asp-action="DeletePlacement" class="btn btn-danger ">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                    </td>
                </tr>

                old = temp;

            }
            else
            {
                <tr>

                    <td>
                        <input type="hidden" asp-for="@Model[i].Placement.Id" />
                        <input asp-for="@Model[i].Placement.index" value="@Model[i].Placement.index" />
                        <select asp-for="@Model[i].Placement.PredmetId" asp-items="@Model[i].PredmetSelectList" onchange="updateTeacher(@i)" value="@Model[i].Placement.PredmetId"></select>
                        <select asp-for="@Model[i].Placement.AuditoriaId" asp-items="@Model[i].AuditoriaSelectList"></select>
                        <input type="hidden" asp-for="@Model[i].Placement.Date" value="@Model[i].Placement.Date" />
                        <select asp-for="@Model[i].Placement.GroupId" asp-items="@Model[i].GroupSelectList"></select>
                        <span id="teacher-@i">@Model[i].Placement.Predmet.Teacher.TeacherName</span>
                        <button type="submit" asp-action="DeletePlacement" class="btn btn-danger ">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>

            }


        }
    </table>

    <input type="submit" value="Refresh" asp-action="Refresh">

    @*<input name="GroupId" type="text" placeholder="Введите номер группы" />
    <input name="Index" type="text" placeholder="Введите номер предмета" />
    <input name="DateToShow" type="hidden" value="@Model.FirstOrDefault()?.Placement.Date" /> <!-- Скрытое поле для даты -->
    <input type="submit" value="Delete" asp-action="DeletePlacement">
    <input name="DateToShow" type="hidden" value="@Model.FirstOrDefault()?.Placement.Date" /> <!-- Скрытое поле для даты -->
    <input type="submit" value="Add" asp-action="AddPlacement">*@

   

    <input type="submit" value="SaveAll" asp-action="SaveAll">
</form>


<form method="post" action="/Home/DeletePlacement">
    
</form>


<form method="post" action="/Home/AddPlacement">
    
</form>



<script>
    function updateTeacher(index) {
        var predmetId = document.getElementById("z" + index + "__Placement_PredmetId").value;
        $.ajax({
            url: "/Home/GetTeacherName",
            type: "GET",
            data: { predmetId: predmetId },
            success: function (result) {
                document.getElementById("teacher-" + index).innerText = result;
            }
        });
    }
</script>