@model IEnumerable<Raspisanie.Models.Predmet>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Дисциплины</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Predmet" asp-action="Upsert" class="btn btn-primary">
                <i class="fa-sharp fa-solid fa-plus fa-beat"></i> &nbsp; Создать новый
            </a>

        </div>
    </div>
    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Преподователь
                    </th>
                    <th>
                        Часы
                    </th>
                    <th>
                        группа
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {

                    <tr>
                        <td width="30%">@obj.PredmetName</td>
                        <td width="30%">@obj.Teacher.TeacherName</td>
                        <td width="10%">@obj.Hours</td>
                        <td width="10%">@obj.Group.Name</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Predmet" asp-route-Id="@obj.Id" asp-action="Upsert" class="btn btn-primary ">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a asp-controller="Predmet" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger ">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Нет Дисциплин</p>
    }
</div>
